@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h4 {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.navbar-header-xyz {
  background: url(https://hulu-welcome.netlify.app/static/media/hulu-background.947968eed8819a505079.jpg)
    no-repeat center center / cover;
  background-color: #000;
  padding: 20px 40px;
  position: relative;
}

.navbar-nav-abc {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  z-index: 2;
  position: relative;
}

.navbar-nav-abc ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-logout-btn-qwe,
.navbar-login-btn-zxc,
.navbar-profile-btn-asd {
  background-color: #1f1f1f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logout-btn-qwe {
  color: #fff; /* Set text color to white */
  border-color: transparent;
}

.navbar-profile-btn-asd {
  color: #fff; /* Set text color to white */
  border-color: transparent;
}

.navbar-logout-btn-qwe:hover,
.navbar-profile-btn-asd:hover {
  background-color: #1db954; /* Hulu green */
  color: #000; /* Text color changes to black on hover */
  transform: scale(1.05);
}

.navbar-logout-btn-qwe:focus,
.navbar-profile-btn-asd:focus {
  outline: none;
}

.navbar-logout-btn-qwe:active,
.navbar-profile-btn-asd:active {
  transform: scale(0.98);
}

.navbar-header-content-pqr {
  text-align: center;
  padding: 40px 0;
}

.navbar-logo-xyz {
  width: 200px;
  margin: 20px 0;
}

.navbar-header-text-1-lmn {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.navbar-header-text-2-ghi {
  font-size: 18px;
  margin: 25px 0;
  color: #fff;
}

.navbar-btn-cta-vbn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.navbar-btn-cta-vbn:hover {
  opacity: 0.8;
}

.navbar-legal-text-efg {
  font-size: 10px;
  color: #ccc;
  margin-top: 20px;
}

.navbar-header-xyz::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}
